<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>


<body>
    <%- include('./partials/nav') %>
<%= JSON.stringify(user) %>
    <h1>Heyy hello world</h1>
    <ol>
        <li>neeraj</li>
        <li>jheel</li>
        <li>anshree</li>
        <li>gupta</li>
    <%- include('./partials/script') %>
</body>
</html>